{
  "browser": {
    "browserName": "chromium",
    "isolated": true,
    "launchOptions": {
      "args": []
    },
    "contextOptions": {
      "storageState": "STORAGE_STATE_PATH"
    }
  },
  "capabilities": ["network", "storage"]
}
